# Let's remove these from commits

*.bak
*.dxvk-cache
*.php
*.psd
*.tmp

# Then ignore these folders

_Backups/*
_Tests/*
/Stable/Players/*
/Stable/System/DukeForever.log
/Stable/System/Detected.log
/Stable/System/UCC.log
/Unstable/System/DukeForever.log
/Unstable/System/Detected.log
/Unstable/System/UCC.log
